<h1>自分がやるべきタスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.content %> status: <%= task.status %></li>
  <% end %>
</ul>

<p><%= link_to '新しい課題の生成', new_task_path %> </p>
